// =============================================================================
// Size - variables
// =============================================================================

$font__size-13: 13px;
$font__size-14: 14px;
$font__size-15: 15px;
$font__size-18: 18px;

$width_24: 24px;
$input__height: 36px;

$layout__background-color: #EAEAEA;
$box__background-color: #F8F8F8;
$button-continue__background-color: #DD141D;
$black-44: #444444;
$black-57: #575757;
$black-56: #575756;
$black-00: #000000;
$white-ff: #FFFFFF;
$gray-70: #7070704D;
$gray-CC: #CCCCCC;
$gray-EE: #EEEEEE;
