// =============================================================================
// Size - variables
// =============================================================================

$font__size-13: 13px;
$font__size-14: 14px;
$font__size-15: 15px;
$font__size-18: 18px;

$width_24: 24px;

$layout__background-color: #EAEAEA;
$box__background-color: #F8F8F8;
$black-44: #444444;
